<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>PayIn Bill Payment</title>
</head>
<body>
    <h1>ใบนำฝากชำระเงินค่าสินค้าและบริการ</h1>
    <div>สำหรับลูกค้า</div>
    <div id="company-detail">
        <div>Consumer Name : {{ detail.company_name }}</div>
        <div>Consumer Address : {{ detail.address }}</div>
        <div>Consumer Tax No. : {{ detail.tax_number }}</div>
    </div>

    <h1>สำหรับเจ้าหน้าที่ธนาคาร</h1>
    <div id="company-detail">
        <div>Consumer Name : {{ detail.company_name }}</div>
        <div>Consumer Address : {{ detail.address }}</div>
        <div>Consumer Tax No. : {{ detail.tax_number }}</div>
    </div>
    <div><img src="{{ STATIC_URL }}test_svg.svg"></div>
</html>
